@import "compass";
@import "compass/css3";
@import "font-awesome/font-awesome";

body{
    font-family: Avenir Next, calibri, 'Open Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif, FontAwesome;
    color:black;
}

*{
    display:border-box;
}

input, option{
    text-transform:capitalize;
}