
.login-page {
  width: 300px;
  padding: 8% 0 0;
  margin: auto;
}
.loginForm {
  position: relative;
  z-index: 1;
  background: #E6E6E6;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
}
.loginForm input {
  border: 2px solid red;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.loginForm button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0052cc;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.loginForm button:hover,.loginForm button:active,.loginForm button:focus {
  background: #003d99;
}
.loginForm .message {
  margin: 15px 0 0;
  color: #003d99;
  font-size: 12px;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

body{color:#000}*{display:border-box}input,option{text-transform:capitalize}
