<!DOCTYPE html>
<html data-ng-app="routinesApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>Routines App</title>
</head>
<body>

<div data-ng-controller="createNewRoutine" class="container-fluid" data-ng-show="true">
<header>
     <div class="header">
        <ul class="netpulseLogo"><b>Netpulse</b>
        <a href="./routines/app/index.html" class="logoutButton"><i class="fa fa-user" aria-hidden="true"></i>Logout</a>
        </ul>
    </div>
</header>
<section>


<div class="blueText"><b>Hello, Planet Fitness Admin. Setting up a routine is easy. Let's get started!</b></p>
</div>

        <div class="form-group center">
            <label for="routineTitle"><b>Routine Title</b><sup>*</sup></label>
            <input type="text" id="routineTitle" data-ng-model="routineTitle" placeholder="Calories Burn Fridays" class="form-control">
        </div>

        <div class="form-group center">
            <label for="description"><b>Description</b><sup>*</sup></label>
            <textarea id="description"  data-ng-model="description" placeholder="Write here something about this routine." rows="4" cols="50" class="form-control"></textarea>
        </div>

        <div class="form-group center">
            <label><b>Unit of Measure</b><sup>*</sup></label>
            <div class="form-inline">
                <input type="checkbox" class="form-control radio" name="unit" value="imperial" data-ng-model="unit" checked="checked" data-ng-init="unit='imperial'"> Imperial
            <input class="form-control radio" type="checkbox" name="unit" value="metric" data-ng-model="unit"> Metric
            </div>
        </div>
        <hr> <!--horizontal line-->
        <p>
            <p class="pull-left"><b>Exercises</b></p>
            <ul class="exercises">
                <a href="./routines/app/index.html" class="addExersise">
                    <i class="fa fa-plus-square plus fa-lg" aria-hidden="true"></i>
                    <b>ADD NEW EXERCISE</b> 
                </a>
            </ul>
        </p>

        <div>
            <div class="form-group">
            <!--//Exercise Starts-->
                <div class="exercise">
                    <!--//First line of form starts here-->
                    <div class="form-inline">
                        <div class="input-group exerciseSelector">
                            <input class="exerciseInput" type="text" class="input-group" name="exerciseType" id="exerciseType" list="exerciseTypes" placeholder="Select Type" data-ng-model="selectedExerciseType">
                            <input class="exerciseInput" type="text" class="input-group" name="exerciseName" id="exerciseName" list="exerciseNames" placeholder="Exercise Name" data-ng-model="selectedExerciseName" npcardioset={{getDurationDistanceVisibility(selectedExerciseType.toLowerCase(),selectedExerciseName,selectedSetType)}}>
                            <input class="exerciseinput" type="text" class="input-group" name="setType" id="setType" list="setTypes" placeholder="Select Set Type" data-ng-model="selectedSetType" data-ng-show="isSetTypeVisible(selectedExerciseType.toLowerCase(), selectedExerciseName)" required="{{isSetTypeVisible(selectedExerciseType.toLowerCase(), selectedExerciseName)}}" npsettype={{selectedSetType}} npcardioset={{getDurationDistanceVisibility(selectedExerciseType.toLowerCase(),selectedExerciseName,selectedSetType)}}>
                        </div>
                            <div class="input-group cardioContainer">
                        </div>
                        <div class="input-group">
                            <label for="restTime" class="sr-only">Rest Time (Optional)</label>
                            <span class="input-group-addon">Rest Time(Optional)</span>
                            <input class="exerciseInput" type="text" class="input-group" name="restTime" id="restTime" placeholder="Rest Time">
                            <span class="input-group-addon">MM:SS</span>
                        </div>
                        <div class="input-group vertical">
                            <a href="#" id="deleteExercise" name="deleteExercise"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a> 
                        </div>
                        <datalist id="exerciseTypes">
                            <option data-ng-repeat="(exerciseType, exercise) in fbExerciseData['exerciseType']" data-value="{{fbExerciseData['exerciseCategories'][exerciseType]['name']}}">{{fbExerciseData['exerciseCategories'][exerciseType]['name']}}</option>
                        </datalist>
                        <datalist id="exerciseNames">
                            <option data-ng-repeat="(exerciseName, subName) in getExerciserNameList(selectedExerciseType.toLowerCase(), fbExerciseData['exerciseType'])" data-value="{{exerciseName}}">{{exerciseName}}</option>
                        </datalist>
                        <datalist id="setTypes">
                            <option data-ng-repeat="(setType, attrs) in getSetType(selectedExerciseType.toLowerCase(), selectedExerciseName)" data-value="{{setType}}">{{setType}}</option>
                        </datalist>
                    </div>
                    <!--//First line ends here-->
                    <div id="setsContainer">
                        <!-- <npreplbsontainer></npreplbsontainer> -->
                    </div>
                </div>
                <!--//Exercise Ends-->
            </div>
        </div>
        <p style="color:#4d88ff">Don't see an exercises listed? Contact [xxxxxx]</p>
        <footer>
            <p class="footer"><b>Please review your routine details. When this information is submitted. It will be available to all members in app immediately.</b></p>
            <button type="submit" data-ng-click="publish" class="btn btn-primary btn-publish">Publish</button>
        </footer>
</section>
<footer>
</footer>
</div> 

<div class="loginPage" data-ng-controller="loginController" class="container">
    <div class="loginPage" class="container">
        <div class="login-page container">
                <div class="loginForm"> 
                <img src="image/netpulse.png" class="center">    
                    <p><b>Lorem ipsum dolor sit.</b>
                 Consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <form class="login-form">
                      <label for="userName"><b>Email</b></label>
                      <input type="text" id="username" placeholder="xxxxxxxxxx" data-ng-model="userName"/>
                      <label for="userName"><b>Password</b></label>
                      <input type="password" id="password" placeholder="xxxxxxxxxx" data-ng-model="password"/>
                      <button data-ng-click="submit()">log in</button>
                    </form>
                </div>
        </div>
    </div>

        <!-- The Modal -->
    <div id="myModal" class="modal" >

      <!-- Modal content -->
      <div class="modal-content"> 
          <form class="close-form">  
            <p><b>Uh oh. Something’s not right.</b></p>
            <p>The email and/or password you entered is incorrect. Please try again or contact xxx@netpulse.com to reset your password.</p>
            <input type="submit" value="Ok" id="close" data-ng-click="closeModal()">
            </form>
      </div>
    </div>
</div>





<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" defer></script>

<!--//AngularJS-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js" defer></script>

<!--//Firebase-->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js" defer></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js" defer></script>

<!--// Application Data-->

<!--//All the directives needed for our application-->
<script src="./js/directives/directives.rep.js" defer></script>
<script src="./js/directives/directives.replbs.js" defer></script>
<script src="./js/directives/directives.repbw.js" defer></script>
<script src="./js/directives/directives.durationlbs.js" defer></script>
<script src="./js/directives/directives.duration.js" defer></script>
<script src="./js/directives/directives.durationbw.js" defer></script>
<script src="./js/directives/directives.cardioset.js" defer></script>

<!--//Our main application-->
<!-- <script src="./js/minified/app.min.js" defer></script> -->
<script src="./js/app.js" defer></script>
<script src="./js/login.js" defer></script>
</body>
</html>